* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: "Devonshire", serif;
}

body {

    background-color: white;
}
html {
    scroll-behavior: smooth; 
}
a, button {
    outline: none; 
    background: none; 
    box-shadow: none; 
}
a:focus, button:focus {
    outline: none;
}



#login {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 40vh;
    width: 30vw;
    position: relative;
    box-shadow: 5px 6px 10px 5px rgb(155, 155, 155);
}

form>input {
    font-size: 20px;
    width: 20vw;
    height: 8vh;
    border-radius: 4px;
    border: 1px solid gray;
    background: none;
    text-align: center;
}

form>input:focus {
    outline: none;
}

form>button {
    margin-top: 4%;
    width: 14vw;
    height: 6vh;
    color: white;
    background-color: rgb(255, 0, 157);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

form>button:hover {
    transition: all 1s ease;
}

nav {
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-image: url(assets/rose-nav.jpg);
    height: 12vh;
    overflow: hidden;
}

ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

ul>li {
    position: relative;
}

ul>li>a {
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    position: relative;
}

ul>li>a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 0;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

ul>li>a:hover::before {
    width: 100%;
}

header {
    overflow: hidden;
    position: relative;
    height: 90vh;
    max-width: 100%;
    text-align: center;
}

.love {
    width: 200px;
    height: 150px;
    position: absolute;
    left: 10%;
    top: 20%;
}

span {
    font-size: 50px;
    position: absolute;
    left: 23%;
    top: 20%;
}

.left {
    position: absolute;
    width: 25%;
    height: 90%;
    left: 0;
    bottom: 0;
    transition-delay: 0.4s;
}

.center {
    width: 50%;
    height: 100%;
    transition-delay: 0.4s;
}

.right {
    position: absolute;
    width: 25%;
    height: 70%;
    right: 0;
    bottom: 0;
    transition-delay: 0.4s;
}

.label-one {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}

.label-two {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 7%;
}

.label-three {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 14%;
}

.label-four {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 21%;
}

.label-five {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 28%;
}

.label-six {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 35%;
}

.label-seven {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 42%;
}

.label-eight {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 49%;
}

.label-nine {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 56%;
}

.label-ten {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 63%;
}

.label-eleven {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 70%;
}

.label-twelve {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 77%;
}

.label-thirteen {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 84%;
}

.label-fourteen {
    position: absolute;
    width: 120px;
    height: 100px;
    top: 0;
    left: 91%;
}


.side-one {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    top: 15%;
    transition-delay: 0.4s;
}

.side-two {
    position: absolute;
    width: 300px;
    height: 350px;
    right: 8%;
    top: 20%;
    transition-delay: 0.4s;
}

.side-five {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 15%;
    bottom: 10%;
    transition-delay: 0.4s;
}

.side-four {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 10%;
    bottom: 15%;
    transition-delay: 0.4s;
}

.container {
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    height: 80vh;
}

.prayer {
    width: 45%;
}

.container>.prayer>p {
    font-family: "Devonshire", serif;
    font-style: normal;
    color: rgb(255, 0, 157);
    font-weight: 20px;
    font-style: italic;
    font-size: 1.8rem;
    transition-delay: 0.4s;
}

.years {
    width: 45%;
    height: 80vh;
    transition-delay: 0.4s;
}

.second-container {
    position: relative;
    align-content: center;
    text-align: center;
    background-image: url(assets/my-hand.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
    width: 100%;
    overflow: hidden;
    color: whitesmoke;
    font-style: italic;
    font-size: 30px;
}

.second-container>h2 {
    position: absolute;
    top: 1%;
    font-family: "Devonshire", serif;
    left: 42%;
}

.third-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.third-container>.youMe {
    width: 45%;
}

.third-container>.youMe>p {
    color: rgb(255, 0, 157);
    font-size: 28px;
    width: 100%;
}

.third-container>.main-img {
    align-content: center;
    text-align: start;
    height: 100%;
    width: 40%;
}

.third-container>.main-img>img {
    width: 450px;
    height: 450px;
}
.arrow{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    right: 2%;
    bottom: 5%;
    position: fixed;
    z-index: 5;
    height: 70px;
    width: 70px;
    border: 6px solid white;
    border: none;
    border-radius: 100px;
    background: radial-gradient(circle, #ebd0d1, #fc385f, #ff0080);
}
.arrow > img{
 width: 60%;
 height: 60%;
}

@media (min-width: 344px) and (max-width: 359px) {}

@media (min-width: 360px) and (max-width: 374px) {
    ul {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }

    ul>li>a {
        padding: 10px 0px 10px 0px;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        color: white;
        font-size: 15px;
        position: relative;
    }

    nav {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: 70px;
        align-items: center;
    }

    header {
        position: relative;
        height: 90vh;
        max-width: 100%;
        text-align: center;
    }

    #login {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 90vh;
        align-items: center;
    }

    form {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        height: 220px;
        width: 280px;
        position: relative;
        box-shadow: 5px 6px 10px 5px rgb(155, 155, 155);
    }

    form>input {
        font-size: 15px;
        width: 200px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid gray;
        background: none;
        text-align: center;
    }

    form>button {
        margin-top: 4%;
        width: 120px;
        height: 30px;
        color: white;
        background-color: rgb(255, 0, 157);
        font-size: 12px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }


    .label-one {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
    }

    .label-two {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 7%;
    }

    .label-three {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 14%;
    }

    .label-four {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 21%;
    }

    .label-five {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 28%;
    }

    .label-six {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 35%;
    }

    .label-seven {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 42%;
    }

    .label-eight {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 49%;
    }

    .label-nine {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 56%;
    }

    .label-ten {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 63%;
    }

    .label-eleven {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 70%;
    }

    .label-twelve {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 77%;
    }

    .label-thirteen {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 84%;
    }

    .label-fourteen {
        position: absolute;
        width: 32px;
        height: 30px;
        top: 0;
        left: 91%;
    }

    .left {
        position: absolute;
        width: 250px;
        height: 800px;
        left: 0;
        bottom: 10px;
        transition-delay: 0.4s;
    }

    .center {
        position: absolute;
        margin-top: 70px;
        left: 30px;
        width: 280px;
        height: 420px;
        transition-delay: 0.4s;
    }

    .right {
        position: absolute;
        width: 280px;
        height: 500px;
        right: 0;
        bottom: 10px;
        transition-delay: 0.4s;
    }

    .side-one {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 0;
        top: 25px;
        transition-delay: 0.4s;
    }

    .love {
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 1;
        top: 480px;
        left: 110px;
        transition-delay: 0.4s;
    }

    span {
        font-size: 20px;
        position: absolute;
        top: 490px;
        left: 200px;
    }

    .side-five {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 25px;
        left: 100px;
        transition-delay: 0.4s;
    }

    .side-four {
        position: absolute;
        width: 100px;
        height: 120px;
        right: 40px;
        top: 30px;
        transition-delay: 0.4s;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
        height: 100vh;
    }

    .prayer>h1 {
        margin-top: 25px;
    }

    .container>.prayer>p {
        color: rgb(255, 0, 157);
        width: 100%;
        font-size: 1.3rem;
        transition-delay: 0.4s;
    }
    .prayer {
        width: 100%;
    }

    .years {
        width: 100vw;
        height: 800px;
        transition-delay: 0.4s;
    }

    .second-container {
        align-content: center;
        text-align: center;
        background-image: url(assets/my-hand.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 110vh;
        width: 100%;
        overflow: hidden;
        color: whitesmoke;
        font-style: italic;
        font-size: 20px;
    }

    .second-container>h2 {
        left: 30%;
    }

    .third-container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .third-container>.youMe {
        width: 80%;
    }

    .third-container>.youMe>p {
        color: rgb(255, 0, 157);
        font-size: 1.3rem;
        width: 100%;
    }

    .third-container>.main-img {
        height: 40vh;
        width: 100%;
    }

    .third-container>.main-img>img {
        width: 300px;
        height: 300px;
    }

    .arrow{
        cursor: pointer;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        right: 10px;
        bottom: 30px;
        position: fixed;
        z-index: 5;
        height: 50px;
        width: 50px;
        border-radius: 100px;
        background: radial-gradient(circle, #ebd0d1, #fc385f, #ff0080);
    }
    .arrow > img{
     width: 60%;
     height: 60%;
    }
}

@media (min-width: 375px) and (max-width: 389px) {
    ul {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }

    ul>li>a {
        padding: 10px 0px 10px 0px;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        color: white;
        font-size: 14px;
        position: relative;
    }

    nav {
        display: flex;
        justify-content: center;
        max-width: 100%;
        background-color: rgb(255, 0, 157);
        height: 70px;
        align-items: center;
    }

    header {
        position: relative;
        height: 90vh;
        max-width: 100%;
        text-align: center;
    }

    .label-one {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
    }

    .label-two {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 7%;
    }

    .label-three {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 14%;
    }

    .label-four {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 21%;
    }

    .label-five {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 28%;
    }

    .label-six {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 35%;
    }

    .label-seven {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 42%;
    }

    .label-eight {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 49%;
    }

    .label-nine {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 56%;
    }

    .label-ten {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 63%;
    }

    .label-eleven {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 70%;
    }

    .label-twelve {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 77%;
    }

    .label-thirteen {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 84%;
    }

    .label-fourteen {
        position: absolute;
        width: 32px;
        height: 30px;
        top: 0;
        left: 91%;
    }

    .left {
        position: absolute;
        width: 250px;
        height: 800px;
        left: 0;
        bottom: 0;
        transition-delay: 0.4s;
    }

    .center {
        position: absolute;
        margin-top: 70px;
        left: 30px;
        width: 300px;
        height: 400px;
        transition-delay: 0.4s;
    }

    .right {
        position: absolute;
        width: 280px;
        height: 500px;
        right: 0;
        bottom: 0;
        transition-delay: 0.4s;
    }

    .side-one {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 0;
        top: 25px;
        transition-delay: 0.4s;
    }

    .love {
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 1;
        top: 450px;
        left: 120px;
        transition-delay: 0.4s;
    }

    span {
        z-index: 1;
        font-size: 20px;
        position: absolute;
        top: 460px;
        left: 210px;
        transition-delay: 0.1s;
    }

    .side-five {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 25px;
        left: 100px;
        transition-delay: 0.4s;
    }

    .side-four {
        position: absolute;
        width: 100px;
        height: 100px;
        right: 40px;
        top: 25px;
        transition-delay: 0.4s;
    }

    .container {
        display: flex;
        padding: 50px;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
        height: 100vh;
    }

    .container>p {
        width: 100%;
        color: rgb(255, 0, 157);
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 25px;
        transition-delay: 0.4s;
    }

    .years {
        width: 100vw;
        height: 800px;
        transition-delay: 0.4s;
    }
}

@media (min-width: 390px) and (max-width: 429px) {}

@media (min-width: 430px) and (max-width: 539px) {}

@media (min-width: 540px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 819px) {}

@media (min-width: 820px) and (max-width: 1023px) {}